<ul class="app-bar-menu">
	<li>{%trans%}Monsters{%endtrans%}</li>
	<li>{%trans%}Weapons{%endtrans%}</li>
	<li>{%trans%}Armors{%endtrans%}</li>
	<li>{%trans%}Items{%endtrans%}</li>
	<li>{%trans%}Jewels{%endtrans%}</li>
</ul>