<ul class="app-bar-menu">
	<li onclick="openFileMenu()"><span class="mif-file-empty"></span> {%trans%}File{%endtrans%}</li>
	<li><span class="mif-lab"></span> {%trans%}Talisman Creator{%endtrans%}</li>
	<li><span class="mif-wrench"></span> {%trans%}Character customization{%endtrans%}</li>
</ul>
