<div data-role="charm" id="file-menu" data-position="left">
    <h1 class="text-light"><span class="mif-file-empty icon"></span> File menu</h1>
    <ul class="v-menu darcula">
	    <li class="menu-title"><span class="mif-upload icon"></span> ReUpload UserX file</li>
	    <li><a href="#"><input class="hide" type="file" name="mh4-user-file" id="mh4-user-file"/><span class="mif-sd-card icon"></span><label for="mh4-user-file">Open file...</label></a></li>
	    <li class="divider"></li>
	    <li class="menu-title"><span class="mif-download icon"></span> Download UserX file</li>
	    <li><a href="{{path('mh4_file_download')}}"><span class="mif-download icon"></span>MH4U Save file</a></li>
	    <li class="divider"></li>
	    <li class="menu-title"><span class="mif-apps icon"></span> Tools</li>
	    <li><a href="#"><span class="mif-lab icon"></span>Talisman creator</a></li>
	</ul>
</div>