<ul class="sidebar2">
	<li class="title">{%trans%}Main{%endtrans%}</li>
	<li><a href="#">{%trans%}Monsters{%endtrans%}</a></li>
	<li><a href="#">{%trans%}Weapons{%endtrans%}</a></li>
	<li><a href="#">{%trans%}Armors{%endtrans%}</a></li>
	<li><a href="#">{%trans%}Items{%endtrans%}</a></li>
	<li><a href="#">{%trans%}Jewels{%endtrans%}</a></li>
</ul>