body {

}

@mixin vendor-prefix($name,$argument){

	-webkit-#{$name} : #{$argument};
	-moz-#{$name} : #{$argument};
	-ms-#{$name} : #{$argument};
	-o-#{$name} : #{$argument};

}

.float-right {
  float: right; }

  div.register-form{
  	&.hidden{
  		opacity: 0;
  		position: relative;
  		left: -300px;
  		@include vendor-prefix(transition,all 1s linear )

  	}

  	&.show{

	  	opacity: 1;
	  	left: 0px;
	  	@include vendor-prefix(transition,all 1s linear)
  	}
  	
  	
  	
  }

  /* Metro Loader Colors*/

  .preloader-ring{

  	&.emerald-style > .wrap > .circle:after{

  		background-color : #008a00;

  	}

  	&.fix-pos{
  		display:inline-block;
  		padding-top: 10px;
  		padding-left: 10px;
  		margin: 0px;
  		visibility: hidden;

  		&.show{
  			visibility: visible;
  		}
  	}
  }